name: CD log

on:
  workflow_call:
    inputs:
      URL:
        required: true
        type: string
      tremend_code:
        required: true
        type: string
      env:
        required: true
        type: string
      trigger:
        required: true
        type: string
      event_id:
        required: true
        type: string
      event:
        required: true
        type: string
jobs:
  ci_start:
    name: CD history
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name:  Checksum
        run: |
          md5sum=$(md5sum .github/workflows/merge_pr.yml| cut -d\  -f1)
          echo "md5sum=${md5sum}" >> $GITHUB_ENV
      - name: Pipelines history start
        uses: docker://iradu/curl_send_post
        env:
          URL: ${{ inputs.URL }}
          x_tremend_code: ${{ inputs.tremend_code }}
          x_event: ${{ inputs.event }}
          x_env: ${{ inputs.env }}
          x_event_id: ${{ inputs.event_id }}
          x_md5sum: ${{ env.md5sum }}
          x_status: "true"
          x_trigger: ${{ inputs.trigger }}

