name: CI log

on:
  workflow_call:
    inputs:
      URL:
        required: true
        type: string
      appName:
        required: true
        type: string
      description:
        required: true
        type: string
      tremendCode:
        required: true
        type: string
      environment:
        required: true
        type: string
      appType:
        required: true
        type: string
      trigger:
        required: true
        type: string
      event_id:
        required: true
        type: string
      event:
        required: true
        type: string
      ci_file:
        required: true
        type: string
    secrets:
      token:
        required: true
jobs:
  ci_start:
    name: CI history
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name:  Checksum
        env:
          CI_FILE: ${{ inputs.ci_file }}
        run: |
          md5sum=$(md5sum .github/workflows/$CI_FILE| cut -d\  -f1)
          echo "md5sum=${md5sum}" >> $GITHUB_ENV
      - name: Pipelines history start
        uses: docker://iradu/curl_send_post
        env:
          URL: ${{ inputs.URL }}
          TOKEN: ${{ secrets.token }}
          x_appName: ${{ inputs.appName }}
          x_description: ${{ inputs.description }}
          x_tremendCode: ${{ inputs.tremendCode }}
          x_event: ${{ inputs.event }}
          x_environment: ${{ inputs.environment }}
          x_event_id: ${{ inputs.event_id }}
          x_appType: ${{ inputs.appType }}
          x_md5sum: ${{ env.md5sum }}
          x_trigger: ${{ inputs.trigger }}

