name: CD log

on:
  workflow_call:
    inputs:
      URL:
        required: true
        type: string
      tremend_code:
        required: true
        type: string
      env:
        required: true
        type: string
      trigger:
        required: true
        type: string
      event_id:
        required: true
        type: string
      event:
        required: true
        type: string
      cd_file:
        required: true
        type: string
    secrets:
      token:
        required: true
jobs:
  ci_start:
    name: CD history
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name:  Checksum
        env:
          CD_FILE: ${{ inputs.cd_file }}
        run: |
          md5sum=$(md5sum .github/workflows/$CD_FILE| cut -d\  -f1)
          echo "md5sum=${md5sum}" >> $GITHUB_ENV
      - name: Pipelines history start
        uses: docker://iradu/curl_send_post
        with:
          URL: ${{ inputs.URL }}
          TOKEN: ${{ secrets.token }}
          x_tremendCode: ${{ inputs.tremend_code }}
          x_event: ${{ inputs.event }}
          x_environment: ${{ inputs.env }}
          x_event_id: ${{ inputs.event_id }}
          x_md5sum: ${{ env.md5sum }}
          x_trigger: ${{ inputs.trigger }}
          

