name: CI log

on:
  workflow_call:
    inputs:
      URL:
        required: true
        type: string
      app_name:
        required: true
        type: string
      description:
        required: true
        type: string
      tremend_code:
        required: true
        type: string
      env:
        required: true
        type: string
      app_type:
        required: true
        type: string
      trigger:
        required: true
        type: string
      event_id:
        required: true
        type: string
      event:
        required: true
        type: string
      ci_file:
        required: true
        type: string
jobs:
  ci_start:
    name: CI history
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name:  Checksum
        env:
          CI_FILE: ${{ inputs.ci_file }}
        run: |
          md5sum=$(md5sum .github/workflows/$CI_FILE| cut -d\  -f1)
          echo "md5sum=${md5sum}" >> $GITHUB_ENV
      - name: Pipelines history start
        uses: docker://iradu/curl_send_post
        env:
          URL: ${{ inputs.URL }}
          x_app_name: ${{ inputs.app_name }}
          x_description: ${{ inputs.description }}
          x_tremend_code: ${{ inputs.tremend_code }}
          x_event: ${{ inputs.event }}
          x_env: ${{ inputs.env }}
          x_event_id: ${{ inputs.event_id }}
          x_app_type: ${{ inputs.app_type }}
          x_md5sum: ${{ env.md5sum }}
          x_status: "true"
          x_trigger: ${{ inputs.trigger }}

